* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin:auto;

}
img {
    max-width: 100%;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.headerSection {
    background: rgb(34, 195, 163);
}
.logo {
    float: left;
    width: 30%;
}
.logo img {
    width: 130px;
    height: auto;
}
.menu {
    float: right;
    width: 70%;
}
.menu ul {
    text-align: right;
}
.menu li {
    display: inline-block;
    margin-left: -4px;
}
.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    padding: 0px 10px;
    line-height: 3;
    display: inline-block;
    transition: all 0.5s ease 0s;
}
.menu li a:hover {
    background: rgb(22, 160, 133);
}
.sliderSection {
    background-image: url("./header-bg01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px;
}
.slider {
    text-align: center;
}
.slider h1 {
    color: white;
    font-size: 60px;
    padding:0 10px;
}
.slider h5 {
    color: white;
    font-size: 20px;
}
.slider button {
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
    border: 2px solid rgb(250, 250, 250);
    background: rgb(13, 191, 155);
    font-size: 20px;
    color: white;
}
.serviceSaction {
    border-bottom: 2px solid rgb(13, 191, 155);
    padding-bottom: 80px;
}
.serviceText {
    text-align: center;
    padding: 20px 0px;
}
.serviceText h2 {
    font-size: 43px;
    margin-bottom: 25px;
}
.allService {
    text-align: center;
    padding: 20px;
    margin-top: 70px;
}
.service {
    float: left;
    width: 23%;
    padding: 100px 0px;
    border: 1px solid rgba(221, 221, 221, 0.867);
    margin-left: 1%;
    margin-right: 1%;
    background: rgb(250, 250, 250);
}
.service i {
    font-size: 45px;
    color: rgb(13, 191, 155);
    margin: 15px 0px;
}
.service h3 {
    font-size: 32px;
    text-transform: capitalize;
    margin: 15px 0px;
}
.service p {
    font-size: 18px;
}
.aboutSection {
    padding-top: 80px;
}
.aboutText {
    text-align: center;
}
.aboutText h2 {
    text-transform: capitalize;
    font-size: 45px;
    margin-bottom: 10px;
}
.service p {
    font-size: 18px;
    text-align: justify;
}
.aboutblog {
    padding: 50px 0px;
}
.blogImg {
    float: left;
    width: 40%;
}
.blogImg img {
    width: 600px;
    height: auto;
    padding: 40px;
}
.textPart {
    float: right;
    width: 60%;
    padding: 40px 0px;
}
.text {
    margin-bottom: 20px;
}
.text h5 {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.text p {
    text-align: justify;
}
.contactsection {
    padding: 50px;
    background: rgba(250, 250, 250, 0.98);
}
.contactInformation {
    text-align: center;
}
.contactText h2 {
    font-size: 35px;
    margin: 12px 0px;
    text-transform: capitalize;
}
.contactText p {
    width: 75%;
    margin: auto;
}
.contact {
    float: left;
    width: 31.3%;
    margin-top: 40px;
    margin-left: 1%;
    margin-right: 1%;
}
.contact i {
    font-size: 30px;
    color: #0dbf9b;
    padding: 15px 0;
}
.contact h5 {
    font-size: 15px;
    padding: 5px 0;
}
/* social section */

.socialSection {
    text-align: center;
    padding: 20px 0;
    background: #0dbf9b;
}
.logofooter i {
    color: white;
    padding: 0 20px;
    font-size: 25px;
}

/* footer section */

.footerSection {
    text-align: center;
    padding: 15px;
    background: black;
}
.textfooter {
    text-transform: capitalize;
    font-size: 25px;
    color: #dddd;
}
